* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
}
nav {
    width: 100%;
    background-color: #002f6c;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

nav .logo {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.title {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
}

.team {
    font-size: 13px;
    color: #cce0ff;
}

nav .navlist .listitems {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav .navlist .listitems li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: 0.3s;
    white-space: nowrap;
}

nav .navlist .listitems li a:hover {
    color: #00bfff;
}

/* desktop mei hamburger chupane ke liye */
.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

/*MOBILES ke liye*/
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    nav .navlist {
        display: none;
        width: 100%;
        background-color: #003366;
        position: absolute;
        top: 60px;
        left: 0;
        text-align: center;
        padding: 15px 0;
        z-index: 20;
    }

    nav .navlist.active {
        display: block;
        /*hamburger show karne ke liye*/
    }

    nav .navlist .listitems {
        flex-direction: column;
        gap: 15px;
    }

    nav .navlist .listitems li a {
        display: block;
        padding: 10px;
    }
}

body main {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    filter: brightness(90%) contrast(105%);
    text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 65px;
    text-align: center;
    height: 90vh;
    position: relative;

    color: #fff;

}

main button {
    background-color: #002f6c;
    color: #fff;
    padding: 1rem 3rem;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: large;
    font-weight: 600;
}

footer {
    background-color: #3a3838f5;
    color: white;
    margin: 4px 0px 4px 0px;
    border-radius: 4px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: #ddd;
}
footer .grid {
    display: grid;
    grid-template-columns:repeat(3,1fr);
}